body {
	margin: 20px;
	padding: 0px;
	background: #FFFFFF;
	font: 0.8em "Trebuchet MS", Arial, sans-serif; }

	
.lettercell_first, .lettercell {
	width: 50px;
	font-size: 2em;
	font-weight: bold;
	vertical-align: top;
	padding-left: 8px;
	color: #888888;
}

.lettercell {
	border-top: 2px solid black;
}

.letterrowcontentcell {
	border-top: 2px solid black;
}

.resourcecell {
	width: 33%;
}

.resourcelisttable {
	width:100%;
}

#searcharea {
	position:absolute; 
	top: 0px; 
	right:0px; 
	left:0px; 
	height: 23px; 
	background:#555555;
	color:#FFFFFF;
	padding:7px;
}

#resourceinfo {
	position: absolute; 
	left:70%; 
	top: 36px; 
	right: 0px; 
	bottom: 0px; 
	background: #555555;
	color: #FFFFFF;
}

#resourceinfotopbar {
	overflow: auto;  
	background: #444444; 
	width:100%; 
	padding-top: 3px; 
	padding-bottom: 3px;
}

#bottombar {	
	position: absolute; 
	bottom: 0px; 
	left:0px; 
	right:0px; 
	height: 25px; 
	overflow: auto;  
	background: #444444; 
	width:100%; 
	padding-top: 3px; 
	padding-bottom: 3px;
}