#topbar, #addacltopbar, #addgrouptopbar, #addobjecttopbar  {
	position: absolute; 
	top:0px; 
	right:0px; 
	left:0px; 
	height:23px; 
	background:#555555; 
	color:#FFFFFF; 
	padding:7px;
	font-weight:bold;
}

#addacltopbar, #addobjecttopbar {
	background: #888888;
}

#datasets {
	position: absolute; 
	right: 0px; 
	top: 37px; 
	width: 20%; 
	bottom: 0px;
	background:#555555;
	overflow:auto; 
}

.acl {
	padding: 5px;
	padding-left: 10px;
	font-weight:bold;
	cursor:pointer;
}

#grouplist, #grouparea {
	position: absolute; 
	left:0px; 
	top: 37px; 
	bottom: 20px; 
	right: 0px; 
	overflow:auto; 
	border-top: none;
}

#grouparea  {
	overflow:hide; 
}

#rightslist , #grouplistcontent{
	height: 50%;
	overflow:auto;
	padding-left:10px;
}



#grouplistcontent {
	height: 70%;
}

#addrightsarea, #addgrouparea {
	position: absolute;
	left:0px;
	right:0px;
	height: 50%;
	bottom: 0px;
	overflow:hide;
}

#addgrouparea {
	height:20%;
}

.indent {
	padding-left: 10px;
}

#topbar {
	position: absolute; 
	top:0px; 
	right:0px; 
	left:0px; 
	height:23px; 
	background:#555555; 
	color:#FFFFFF; 
	padding:7px;"
}

#groupstopbarname {
	font-size: 1.2em;
	font-weight: bold;

}

#groupstopbarbackbutton {
	padding-right: 10px;
	float:left;
}

.headercell_first, .headercell {
	width: 50px;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: top;
	color: #888888;
}

.headercell {
	border-top: 2px solid #888888;
}

img { 
	vertical-align: middle;
}

.objectcell {
	width: 33%;
}

#objectstable {
	width:100%;
	font-size: 1.0em;
}

#acltopbarsearchbox {
	float: right;
}

#addrightscontent, #addgroupcontent {
	position: absolute;
	top: 47px;
	bottom: 0px;
	left:20px;
	right:20px;
}

#groupareatabs {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
}

#groupsettings {
	position: relative;
	width: 100%;
	height: 95%;
	border: 3px solid #888888;
	border-top: 5px solid #888888;
	overflow: hide;
}

#groupsettingspadding {
	padding:8px;
}

.grouptab, .grouptab_active {
	font-size: 1.2em;
	font-weight: bold;
	cursor:pointer;
	padding: 3px;
	padding-left: 8px;
	padding-right:8px;
	background: #DDDDDD;
}

.grouptab_active {
	background: #888888;
}

.addobjecttab, .addobjecttab_active {
	font-size: 1.2em;
	font-weight: bold;
	cursor:pointer;
	padding: 3px;
	padding-left: 8px;
	padding-right:8px;
	background: #DDDDDD;
	margin-bottom: 2px;
}

.addobjecttab_active {
	background: #888888;
}

#addobjectcontent, #addaclcontent {
	position: absolute;
	top: 47px;
	bottom: 0px;
	left:20px;
	right:20px;
}

#addaclcontent {
	position: absolute;
	top: 47px;
	bottom: 0px;
	left:0px;
	right:0px;
}

#addobjecttabs {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	bottom: 0px;
}
#acllistcontent {
	padding:8px;
}
#addaclcontentinput {
	padding: 8px;
	padding-left: 15px;
}

#addaclinfotext {
	padding-left: 5px;
}

#addobjectssettings {
	position: absolute;
	left: 20%;
	top: 0px;
	width: 80%;
	bottom: 10px;
	border: 3px solid #888888;
	border-left: 5px solid #888888;
}

#addobjectsettingspadding {
padding: 8px;
}
.formfield {
	clear: both;
}

.grouptabpane {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 10px;
}

#acllist, #objectlist {
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	height: 80%;
	overflow: auto;
}

#acllist, #objectlist {
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	height: 50%;
	overflow: auto;
}

#addobjectarea, #addaclarea {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hide;
}

#tabcontainer {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
}

#addobjectbottombar, #addaclbottombar {
	position: absolute; 
	background: #888888; 
	bottom: 0px; 
	left:0px; 
	right:0px; 
	height: 24px;
	padding-top:4px;
}