body {
	margin: 20px;
	padding: 0px;
	background: #ABAD85;
	font: 16px arial, sans-serif;
}

a:link {
	color:#000000;
	text-decoration:none;
}
a:visited {
	color:#000000;
	text-decoration:none;
}
a:active {
	color:#666666;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

.main_top_menu {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

.main_right {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
}

.main_left {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}