<ACL>
  <!--
    Access List of commands Admin System uses.
    
    This is the default setup.

  -->
  <acl name="Admin">
    <!--This is the ACL for Admin group-->
    <right name="general.adminpanel" access="true" />
    <!--Admin Panel Tabs-->
    <right name="general.tab_players" access="true" />
    <right name="general.tab_resources" access="true" />
    <right name="general.tab_server" access="true" />
    <right name="general.tab_maps" access="true" />
    <right name="general.tab_bans" access="true" />
    <right name="general.tab_adminchat" access="true" />
    <!--Player Related-->
    <right name="command.kick" access="true" />
    <right name="command.freeze" access="true" />
    <right name="command.mute" access="true" />
    <right name="command.setnick" access="true" />
    <right name="command.shout" access="true" />
    <right name="command.spectate" access="true" />
    <right name="command.slap" access="true" />
    <right name="command.setgroup" access="true" />
    <right name="command.sethealth" access="true" />
    <right name="command.setarmour" access="true" />
    <right name="command.setmoney" access="true" />
    <right name="command.setskin" access="true" />
    <right name="command.setteam" access="true" />
    <right name="command.giveweapon" access="true" />
    <right name="command.setstat" access="true" />
    <right name="command.jetpack" access="true" />
    <right name="command.warp" access="true" />
    <right name="command.setdimension" access="true" />
    <right name="command.setinterior" access="true" />
    <!--Teams related-->
    <right name="command.createteam" access="true" />
    <right name="command.destroyteam" access="true" />
    <!--Vehicle related-->
    <right name="command.givevehicle" access="true" />
    <right name="command.repair" access="true" />
    <right name="command.blowvehicle" access="true" />
    <right name="command.destroyvehicle" access="true" />
    <right name="command.customize" access="true" />
    <right name="command.setcolor" access="true" />
    <right name="command.setpaintjob" access="true" />
    <!--Messages related-->
    <right name="command.listmessages" access="true" />
    <right name="command.readmessage" access="true" />
    <!--Resource related-->
    <right name="command.listresources" access="true" />
    <right name="command.start" access="true" />
    <right name="command.stop" access="true" />
    <right name="command.stopall" access="false" />
    <right name="command.delete" access="true" />
    <right name="command.restart" access="true" />
    <right name="command.execute" access="true" />
    <!--Server related-->
    <right name="command.setpassword" access="true" />
    <right name="command.setwelcome" access="true" />
    <right name="command.setgame" access="true" />
    <right name="command.setmap" access="true" />
    <right name="command.setweather" access="true" />
    <right name="command.blendweather" access="true" />
    <right name="command.setblurlevel" access="true" />
    <right name="command.setwaveheight" access="true" />
    <right name="command.setskygradient" access="true" />
    <right name="command.setgamespeed" access="true" />
    <right name="command.setgravity" access="true" />
    <right name="command.settime" access="true" />
    <right name="command.setfpslimit" access="true" />
    <right name="function.setServerConfigSetting" access="true" />
    <right name="function.updateResourceACLRequest" access="true" />
    <right name="function.shutdown" access="true" />
    <right name="command.aclrequest" access="true" />
    <!--Bans related-->
    <right name="command.ban" access="true" />
    <right name="command.unban" access="true" />
    <right name="command.banip" access="true" />
    <right name="command.unbanip" access="true" />
    <right name="command.banserial" access="true" />
    <right name="command.unbanserial" access="true" />
    <right name="command.listbans" access="true" />
  </acl>
  <acl name="SuperModerator">
    <!--This is the ACL for Admin group-->
    <right name="general.adminpanel" access="true" />
    <!--Admin Panel Tabs-->
    <right name="general.tab_players" access="true" />
    <right name="general.tab_resources" access="true" />
    <right name="general.tab_maps" access="true" />
    <right name="general.tab_server" access="true" />
    <right name="general.tab_bans" access="true" />
    <right name="general.tab_adminchat" access="true" />
    <!--Player Related-->
    <right name="command.kick" access="true" />
    <right name="command.freeze" access="true" />
    <right name="command.mute" access="true" />
	<right name="command.setnick" access="true" />
    <right name="command.shout" access="true" />
    <right name="command.spectate" access="true" />
    <right name="command.slap" access="true" />
    <right name="command.setgroup" access="false" />
    <right name="command.sethealth" access="true" />
    <right name="command.setarmour" access="true" />
    <right name="command.setmoney" access="true" />
    <right name="command.setskin" access="true" />
    <right name="command.setteam" access="true" />
    <right name="command.giveweapon" access="true" />
    <right name="command.setstat" access="true" />
    <right name="command.jetpack" access="true" />
    <right name="command.warp" access="true" />
    <right name="command.setdimension" access="true" />
    <right name="command.setinterior" access="true" />
    <!--Teams related-->
    <right name="command.createteam" access="true" />
    <right name="command.destroyteam" access="true" />
    <!--Vehicle related-->
    <right name="command.givevehicle" access="true" />
    <right name="command.repair" access="true" />
    <right name="command.blowvehicle" access="true" />
    <right name="command.destroyvehicle" access="true" />
    <right name="command.customize" access="true" />
    <right name="command.setcolor" access="true" />
    <right name="command.setpaintjob" access="true" />
    <!--Messages related-->
    <right name="command.listmessages" access="true" />
    <right name="command.readmessage" access="true" />
    <!--Resource related-->
    <right name="command.listresources" access="true" />
    <right name="command.start" access="true" />
    <right name="command.stop" access="true" />
    <right name="command.stopall" access="false" />
    <right name="command.restart" access="true" />
    <right name="command.execute" access="false" />
    <!--Server related-->
    <right name="command.setpassword" access="true" />
    <right name="command.setwelcome" access="true" />
    <right name="command.setgame" access="true" />
    <right name="command.setmap" access="true" />
    <right name="command.setweather" access="true" />
    <right name="command.blendweather" access="true" />
    <right name="command.setblurlevel" access="true" />
    <right name="command.setwaveheight" access="true" />
    <right name="command.setskygradient" access="true" />
    <right name="command.setgamespeed" access="true" />
    <right name="command.setgravity" access="true" />
    <right name="command.settime" access="true" />
    <!--Bans related-->
    <right name="command.ban" access="true" />
    <right name="command.unban" access="true" />
    <right name="command.banip" access="true" />
    <right name="command.unbanip" access="true" />
    <right name="command.banserial" access="true" />
    <right name="command.unbanserial" access="true" />
    <right name="command.listbans" access="true" />
  </acl>
  <acl name="Moderator">
    <!--This is the ACL for Admin group-->
    <right name="general.adminpanel" access="true" />
    <!--Admin Panel Tabs-->
    <right name="general.tab_players" access="true" />
    <right name="general.tab_resources" access="false" />
    <right name="general.tab_maps" access="false" />
    <right name="general.tab_server" access="true" />
    <right name="general.tab_bans" access="false" />
    <right name="general.tab_adminchat" access="true" />
    <!--Player Related-->
    <right name="command.kick" access="false" />
    <right name="command.freeze" access="true" />
    <right name="command.mute" access="true" />
	<right name="command.setnick" access="true" />
    <right name="command.shout" access="true" />
    <right name="command.spectate" access="true" />
    <right name="command.slap" access="true" />
    <right name="command.setgroup" access="false" />
    <right name="command.sethealth" access="true" />
    <right name="command.setarmour" access="true" />
    <right name="command.setmoney" access="false" />
    <right name="command.setskin" access="true" />
    <right name="command.setteam" access="true" />
    <right name="command.giveweapon" access="true" />
    <right name="command.setstat" access="true" />
    <right name="command.jetpack" access="true" />
    <right name="command.warp" access="true" />
    <right name="command.setdimension" access="true" />
    <right name="command.setinterior" access="true" />
    <!--Teams related-->
    <right name="command.createteam" access="false" />
    <right name="command.destroyteam" access="false" />
    <!--Vehicle related-->
    <right name="command.givevehicle" access="true" />
    <right name="command.repair" access="true" />
    <right name="command.blowvehicle" access="true" />
    <right name="command.destroyvehicle" access="true" />
    <right name="command.customize" access="true" />
    <right name="command.setcolor" access="true" />
    <right name="command.setpaintjob" access="true" />
    <!--Messages related-->
    <right name="command.listmessages" access="true" />
    <right name="command.readmessage" access="true" />
    <!--Resource related-->
    <right name="command.listresources" access="true" />
    <right name="command.start" access="false" />
    <right name="command.stop" access="false" />
    <right name="command.stopall" access="false" />
    <right name="command.restart" access="false" />
    <right name="command.execute" access="false" />
    <!--Server related-->
    <right name="command.setpassword" access="false" />
    <right name="command.setwelcome" access="false" />
    <right name="command.setgame" access="false" />
    <right name="command.setmap" access="false" />
    <right name="command.setweather" access="true" />
    <right name="command.blendweather" access="true" />
    <right name="command.setblurlevel" access="true" />
    <right name="command.setwaveheight" access="true" />
    <right name="command.setskygradient" access="true" />
    <right name="command.setgamespeed" access="true" />
    <right name="command.setgravity" access="true" />
    <right name="command.settime" access="true" />
    <!--Bans related-->
    <right name="command.ban" access="false" />
    <right name="command.unban" access="false" />
    <right name="command.banip" access="false" />
    <right name="command.unbanip" access="false" />
    <right name="command.banserial" access="false" />
    <right name="command.unbanserial" access="false" />
    <right name="command.listbans" access="false" />
  </acl>
  <acl name="Default">
    <!--This is the ACL for Admin group-->
    <right name="general.adminpanel" access="false" />
    <!--Admin Panel Tabs-->
    <right name="general.tab_players" access="false" />
    <right name="general.tab_resources" access="false" />
    <right name="general.tab_maps" access="false" />
    <right name="general.tab_server" access="false" />
    <right name="general.tab_bans" access="false" />
    <right name="general.tab_adminchat" access="false" />
    <!--Player Related-->
    <right name="command.kick" access="false" />
    <right name="command.freeze" access="false" />
    <right name="command.mute" access="false" />
	<right name="command.setnick" access="false" />
    <right name="command.shout" access="false" />
    <right name="command.spectate" access="false" />
    <right name="command.slap" access="false" />
    <right name="command.setgroup" access="false" />
    <right name="command.sethealth" access="false" />
    <right name="command.setarmour" access="false" />
    <right name="command.setmoney" access="false" />
    <right name="command.setskin" access="false" />
    <right name="command.setteam" access="false" />
    <right name="command.giveweapon" access="false" />
    <right name="command.setstat" access="false" />
    <right name="command.jetpack" access="false" />
    <right name="command.warp" access="false" />
    <right name="command.setdimension" access="false" />
    <right name="command.setinterior" access="false" />
    <!--Vehicle related-->
    <right name="command.givevehicle" access="false" />
    <right name="command.repair" access="false" />
    <right name="command.blow" access="false" />
    <right name="command.destroy" access="false" />
    <right name="command.customize" access="false" />
    <right name="command.setcolor" access="false" />
    <right name="command.setpaintjob" access="false" />
    <!--Messages related-->
    <right name="command.listmessages" access="false" />
    <right name="command.readmessage" access="false" />
    <!--Resource related-->
    <right name="command.listresources" access="false" />
    <right name="command.start" access="false" />
    <right name="command.stop" access="false" />
    <right name="command.stopall" access="false" />
    <right name="command.restart" access="false" />
    <right name="command.execute" access="false" />
    <right name="command.delete" access="false" />
    <!--Server related-->
    <right name="command.setpassword" access="false" />
    <right name="command.setwelcome" access="false" />
    <right name="command.setgame" access="false" />
    <right name="command.setmap" access="false" />
    <right name="command.setweather" access="false" />
    <right name="command.blendweather" access="false" />
    <right name="command.setblurlevel" access="false" />
    <right name="command.setwaveheight" access="false" />
    <right name="command.setskygradient" access="false" />
    <right name="command.setgamespeed" access="false" />
    <right name="command.setgravity" access="false" />
    <right name="command.settime" access="false" />
    <right name="function.shutdown" access="false" />
    <right name="command.setfpslimit" access="false" />
    <!--Bans related-->
    <right name="command.ban" access="false" />
    <right name="command.unban" access="false" />
    <right name="command.banip" access="false" />
    <right name="command.unbanip" access="false" />
    <right name="command.banserial" access="false" />
    <right name="command.unbanserial" access="false" />
    <right name="command.listbans" access="false" />
  </acl>
</ACL>